<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/pagination.css">
    <link rel="stylesheet" href="css/fixed-table.css"/>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="js/vue.js"></script>
    <script src="js/pagination.js"></script>
    <script src="js/fixed-table.js"></script>
    <style>
        .display-non {
            display: none;
        }

        .text-center {
            text-align: center;
        }
        .pagination{
            width: 99%;
            margin-left: 6px;
        }
        .fixed-table-box {
            width: 99%;
            margin: 10px auto;
        }

        .fixed-table-box > .fixed-table_body-wraper { /*内容了表格主体内容有纵向滚动条*/
            max-height: 500px;
        }

        .fixed-table_fixed > .fixed-table_body-wraper { /*为了让两侧固定列能够同步表格主体内容滚动*/
            max-height: 500px;
        }

        .w-40 {
            width: 40px;
        }

        .w-80 {
            width: 80px;
        }

        .w-100 {
            width: 100px;
        }

        .w-120 {
            width: 120px;
        }

        .w-150 {
            width: 150px;
        }

        .w-200 {
            width: 200px;
        }

        .w-300 {
            width: 300px;
        }

        .btns {
            text-align: center;
        }

        .btns button {
            padding: 10px 20px;
        }

        .text-hide-100 {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    </style>
</head>
<body>
<div id="app-1">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSocket</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">面板</a></li>
                    <li><a href="#">设置</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="搜索...">
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid" style="margin-top: 63px;">
        <div class="row">
            <div class="col-md-12">
                <div class="fixed-table-box row-col-fixed">
                    <!-- 表头 start -->
                    <div class="fixed-table_header-wraper">
                        <table class="fixed-table_header" cellspacing="0" cellpadding="0" border="0">
                            <thead>
                            <tr>
                                <th class="w-80">
                                    <div class="table-cell w-80 text-center">序&nbsp;&nbsp;号</div>
                                </th>
                                <th class="w-200">
                                    <div class="table-cell w-200">药品名称</div>
                                </th>
                                <th class="w-200">
                                    <div class="table-cell w-200">药品名称</div>
                                </th>
                                <th class="w-200">
                                    <div class="table-cell w-200">药品名称</div>
                                </th>
                                <th class="w-200">
                                    <div class="table-cell w-200">药品名称</div>
                                </th>
                                <th class="w-200">
                                    <div class="table-cell w-200">药品名称</div>
                                </th>
                                <th class="w-200">
                                    <div class="table-cell w-200">通用名</div>
                                </th>
                                <th class="w-200">
                                    <div class="table-cell w-200">规格</div>
                                </th>
                                <th class="w-200">
                                    <div class="table-cell w-200">单位</div>
                                </th>
                                <th class="w-200">
                                    <div class="table-cell w-200">剂型</div>
                                </th>
                                <th class="w-200">
                                    <div class="table-cell w-200">厂家</div>
                                </th>
                                <th class="w-100">
                                    <div class="table-cell w-100 text-center">操&nbsp;&nbsp;作</div>
                                </th>
                                <th style="width: 16px;">
                                    <div class="table-cell" style="width: 16px;"></div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- 表头 end -->
                    <!-- 表格内容 start -->
                    <div class="fixed-table_body-wraper">
                        <table class="fixed-table_body" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                            <tr v-for="(item,index) in itemList">
                                <td class="w-80">
                                    <div class="table-cell w-80 text-center">{{ index+1 }}</div>
                                </td>
                                <td class="w-200">
                                    <div class="table-cell w-200">
                                        <span :data-index="item.id">{{ item.name }}</span>
                                        <span :data-edit="item.id" class="display-non">
                                            <input type="text" v-model="item.name" class="form-control input-sm"
                                                   placeholder="请输入药品名称">
                                        </span>
                                    </div>
                                </td>
                                <td class="w-200">
                                    <div class="table-cell w-200">
                                        <span :data-index="item.id">{{ item.name }}</span>
                                        <span :data-edit="item.id" class="display-non">
                                            <input type="text" v-model="item.name" class="form-control input-sm"
                                                   placeholder="请输入药品名称">
                                        </span>
                                    </div>
                                </td>
                                <td class="w-200">
                                    <div class="table-cell w-200">
                                        <span :data-index="item.id">{{ item.name }}</span>
                                        <span :data-edit="item.id" class="display-non">
                                            <input type="text" v-model="item.name" class="form-control input-sm"
                                                   placeholder="请输入药品名称">
                                        </span>
                                    </div>
                                </td>
                                <td class="w-200">
                                    <div class="table-cell w-200">
                                        <span :data-index="item.id">{{ item.name }}</span>
                                        <span :data-edit="item.id" class="display-non">
                                            <input type="text" v-model="item.name" class="form-control input-sm"
                                                   placeholder="请输入药品名称">
                                        </span>
                                    </div>
                                </td>
                                <td class="w-200">
                                    <div class="table-cell w-200">
                                        <span :data-index="item.id">{{ item.name }}</span>
                                        <span :data-edit="item.id" class="display-non">
                                            <input type="text" v-model="item.name" class="form-control input-sm"
                                                   placeholder="请输入药品名称">
                                        </span>
                                    </div>
                                </td>
                                <td class="w-200">
                                    <div class="table-cell w-200">
                                        <span :data-index="item.id">{{ item.generalName }}</span>
                                        <span :data-edit="item.id" class="display-non">
                                            <input type="text" v-model="item.generalName" class="form-control input-sm"
                                                   placeholder="请输入通用名">
                                        </span>
                                    </div>
                                </td>
                                <td class="w-200">
                                    <div class="table-cell w-200">
                                        <span :data-index="item.id">{{ item.spec }}</span>
                                        <span :data-edit="item.id" class="display-non">
                                            <input type="text" v-model="item.spec" class="form-control input-sm"
                                                   placeholder="请输入规格">
                                        </span>
                                    </div>
                                </td>
                                <td class="w-200">
                                    <div class="table-cell w-200">
                                        <span :data-index="item.id">{{ item.unit }}</span>
                                        <span :data-edit="item.id" class="display-non">
                                            <input type="text" v-model="item.unit" class="form-control input-sm"
                                                   placeholder="请输入单位">
                                        </span>
                                    </div>
                                </td>
                                <td class="w-200">
                                    <div class="table-cell w-200">
                                        <span :data-index="item.id">{{ item.dosageForm }}</span>
                                        <span :data-edit="item.id" class="display-non">
                                            <input type="text" v-model="item.dosageForm" class="form-control input-sm"
                                                   placeholder="请输入剂型">
                                        </span>
                                    </div>
                                </td>
                                <td class="w-200">
                                    <div class="table-cell w-200">
                                        {{ item.manufacture }}
                                    </div>
                                </td>
                                <td class="w-100">
                                    <div class="table-cell w-100 text-center">
                                        <span :data-index="item.id">
                                                <button :data-index="item.id" @click="editItem(item.id)" type="button" class="btn btn-sm btn-info">编辑</button>
                                             </span>
                                        <span :data-edit="item.id" class="display-non">
                                                <button @click="editConfirm(item.id)" type="button" class="btn btn-sm btn-success">保存</button>
                                            </span>
                                    </div>
                                </td>
                                <!--<td class="w-100">
                                    <div class="table-cell w-100">
                                        <a href="###">查看</a>
                                        <a href="###">编辑</a>
                                    </div>
                                </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 表格内容 end -->

                    <!-- 固定列 start -->
                    <div class="fixed-table_fixed fixed-table_fixed-right">
                        <div class="fixed-table_header-wraper">
                            <table class="fixed-table_header" cellspacing="0" cellpadding="0" border="0">
                                <thead>
                                <tr>
                                    <th class="w-100" data-fixed data-direction="right">
                                        <div class="table-cell text-center">操&nbsp;&nbsp;作</div>
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="fixed-table_body-wraper">
                            <table class="fixed-table_body" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr v-for="(item,index) in itemList">
                                    <td class="w-100">
                                        <div class="table-cell text-center">
                                            <span :data-index="item.id">
                                                <button :data-index="item.id" @click="editItem(item.id)" type="button" class="btn btn-sm btn-info">编辑</button>
                                             </span>
                                            <span :data-edit="item.id" class="display-non">
                                                <button @click="editConfirm(item.id)" type="button" class="btn btn-sm btn-success">保存</button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 固定列 end -->
                </div>
            </div>

            <!--分页-->
            <div class="col-md-12">
                    <div id="pagination" class="pagination"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var app1 = new Vue({
        el: '#app-1',
        data: {
            searchData: {
                operator: '',
                url: '',
                status: '',
                startTime: '',
                endTime: ''
            },
            itemList: [],
            pageNo: '',
            total: '',
            editStatus: false
        },
        created: function () {
            //初始化显示页面,默认为第一页
            this.init(1, 1)
        },
        updated: function () {
            $(".fixed-table-box").fixedTable()
        },
        methods: {
            //点击搜索按钮
            searchItem: function () {
                this.init(1, 1)

            },
            //点击重置按钮
            resetSearch: function () {
                var obj = app1.searchData;
                for (var i in obj) {
                    obj[i] = ""
                }
            },
            editItem: function (index) {
                // this.editStatus = true;
                console.log(index)
                $("span[data-edit='" + index + "']").show()
                $("span[data-index='" + index + "']").hide()
            },
            editConfirm: function (index) {
                // this.editStatus = false;
                console.log(index)
                $("span[data-edit='" + index + "']").hide()
                $("span[data-index='" + index + "']").show()
            },
            //更新页面
            init: function (pageNo, showPage) {
                $.ajax({
                    url: 'http://192.168.1.100:8080/drugInfo/list',
                    type: 'GET',
                    dataType: 'JSON',
                    data: {
                        'pageNo': pageNo
                    }
                }).done(function (res) {
                    if (res.code === 1) {
                        app1.itemList = res.data.list
                    }
                    if (showPage === 1) {
                        app1.yy_pageing(1, res.data.total, res.data.count, res.data.pageSize)
                    }
                }).fail(function () {
                    console.log('初始化失败! 请刷新重试!')
                })
            },
            //分页
            yy_pageing: function (initPageNo, total, setTotalCount, pageSize) {
                new Page({
                    id: 'pagination',
                    curPage: initPageNo, //当前页数,初始页码
                    pageTotal: total, //必填,总页数
                    pageSize: 5, //可选,分页个数
                    dataTotal: setTotalCount, //总共多少条数据
                    pageAmount: pageSize,  //每页多少条
                    showPageTotalFlag: true, //是否显示数据统计
                    showSkipInputFlag: true, //是否支持跳转
                    getPage: function (page) {
                        //获取当前页数
                        app1.init(page);
                    }
                })
            },
        }
    });
</script>
<script src="js/reconnecting-websocket.js"></script>
</body>
</html>